@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Security.Claims 

<h2>Admin Login</h2>
<hr />

@if (User.Identity.IsAuthenticated)
{
    <h3>Welcome @User.Identity.Name </h3>

    @using (Html.BeginForm("LogOff", "Account"))
    {
        <input type="submit" class="btn btn-success" value="Log out" />

    }
}
else
{
    <p>@Html.ActionLink("Register", "Register")</p>
    <p>@Html.ActionLink("Log in", "Login")</p>

}

