@model IEnumerable<SonOfCod.Models.Subscriber>

@{
    ViewData["Title"] = "Thank you";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <br /><br />
    <h3>Thank you for subscribing our Newsletter </h3>
    <br />

    @Html.ActionLink("Main page", "Index", "Admin")
</div>