@model IEnumerable<SonOfCod.Models.Promotion>

@{
    ViewData["Title"] = "Marketing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h2>Welcome to Our Promotion Page</h2>

    @Html.DisplayNameFor(model => model.Title)

    <ul>
        @foreach (var listPromotion in Model)
        {
            <li>@Html.DisplayFor(modelPromotion => listPromotion.Title)</li>

        }

    </ul>
</div>
