@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Security.Claims

<h2>Welcome @User.Identity.Name </h2>
<hr />

<h2>Here is your List of Newsletter's subscribers </h2>
<hr />

@Html.ActionLink("Main page", "Index", "Account")
